@import url('https://api.fontshare.com/v2/css?f[]=clash-display@600,700,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-primary text-secondary overflow-x-hidden;
  margin: 0;
}

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.magnetic {
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}